/readme.txt
/AArdida2015.zip
/AArdida2011.zip
/AArdida2010.zip
/AA_2000_2009.zip
/example-2016-burnt-area-extent.jpg
/AArdida2013.zip
/AArdida2012.zip
/AArdida2016.zip
/AA_1990_1999.zip
/AArdida2014.zip
/field-information.jpg
