/example-2014-burnt-area-extent.png
/incendi_rer2018_dati_ccfor.zip
/readme.txt
/Bologna_2004.zip
/incendi_rer2012-dati_cfs.zip
/incendi_7comuni_2005-06-07-08_gbovest.zip
/incendi_7comuni_2005-06-07-08_gbest.zip
/rapf2007.zip
/incendi_rer2010-dati_cfs.zip
/incendi_rer2016_dati_cfs.zip
/incendi_rer2013_dati_cfs.zip
/incendi_RER2008-dati_CFS.zip
/incendi_rer2017_dati_cc_for.zip
/rapf2006.zip
/Piacenza2003.zip
/incendi_rer2011-dati_cfs.zip
/aree_incendiate_2005_gb_ovest.zip
/incendi_rer2015_dati_cfs.zip
/rapf2004.zip
/Piacenza2004.zip
/incendi_rer2014_dati_cfs.zip
/incendi_rer2009-dati_cfs.zip
